.note {
  width: 12em;
  height: 20em;
  border: 1px solid #000;
  border-radius: 25px;
  margin: 10px;
  padding: 8px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;

  background: url("../img/bloco-notas.png") no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.note_id {
  font-size: 14px;
}

.note_title {
  text-align: center;
  padding-bottom: 4px;
  border-bottom: 2px solid #000;
}

.note_description {
  text-align: justify;
  height: 6em;
  overflow-y: auto;
  padding: 5px;
}

.div_button {
  display: flex;
  justify-content: end;
  align-items: end;
}

.delete_button {
  background-color: #f13f20e5;
  color: #eee;
  border-color: #f13f20;
  border-radius: 7px;
}
