body {
  background: url("../img/nota-fundo.png") no-repeat;
  background-attachment: fixed;
  backdrop-filter: unset;
  background-size: cover;
}

.note_section {
  margin: auto;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  width: 75vw;
}

.note_empty {
  text-align: center;
  font-size: 3em;
  margin-top: 2.5em;
}
